*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Nav-container {
    background: rgba(149, 193, 76, 1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.Nav-logo {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.Nav-logo img{
    height: 80px;
}

.Nav-items {
    display: flex;
    list-style: none;
}

.Nav-items li {
    margin-right: 100px;
    font-size: 20px;
    color: white;
}

.Nav-items li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

